{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
    <span class="base04">J</span><span class="base05">o</span><span class="base06">n</span><span class="base07">a</span><span class="base08">L</span><span class="base09">i</span><span class="base0a">b</span><span class="base0b">e</span><span class="base0c">r</span><span class="base0d">t</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
   <code>Talk is cheap, show me the code</code>
</div>
